<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">




	<!-- This below annoation is used to enable autowire, required, preconstruct, 
		postdestroy @Resource and tell the conatiner to check whether that exist 
		and our code act act accordingly -->
	<context:annotation-config />


	<!-- @Required Annotation is deprecated since 5.1 so it will not work we will get 
	output as expected even adding that annoation over setter properties-->
	<bean id="person" class="in.ineuron.comp.PersonInfo">
		<property name="pid" value="10" />
		<property name="pname" value="nitin" />
		<!-- <property name="paddress" value="pune" /> -->
	</bean>
	

</beans>	