<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Configuring the DEPENDENT Bean -->
	<bean id="dt1" class="java.util.Date" />

	<bean id="dt2" class="java.util.Date">
		<property name="year" value="89" />
		<property name="month" value="09" />
		<property name="date" value="23" />

	</bean>

	<!-- COnfiguring the TARGET Component -->
	<bean id="wmg" class="in.ineuron.comp.wishMsgGenerator">
		<constructor-arg name="date" ref="dt2" />
		<property name="date" ref="dt1" />

	</bean>
</beans>