<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	

	<!-- constructor injection using name -->
	<bean id="std1" class="in.ineuron.comp.Student">
		<constructor-arg type="java.lang.Integer"  value="10"/>
		<constructor-arg type="java.lang.String"  value="pune"/>
		<constructor-arg type="java.lang.String"  value="sameer"/>
		<constructor-arg type="java.lang.Float"  value="55.12"/>
	</bean>
	
	  <bean id="std2" class="in.ineuron.comp.Student">
		<constructor-arg name="sno"  value="1"/>
		<constructor-arg name="saddr"  value="pune"/>
		<constructor-arg name="savg"  value="55.12"/>
		<constructor-arg name="sname"  value="sameer"/>
	</bean>
	
	<bean id="std3" class="in.ineuron.comp.Student">
		<constructor-arg index="0"  value="1"/>
		<constructor-arg index="2"  value="pune"/>
		<constructor-arg index="1"  value="sameer"/>
		<constructor-arg index="3"  value="55.12"/>
	</bean>
</beans>